* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC",
		"Hiragino Sans GB", "Microsoft YaHei", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	line-height: 1.6;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
	-webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
	-moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	color: #2d3748;
}

#app {
	width: 100%;
	min-height: 100vh;
}
